<?xml version="1.0"?>
<config>
    <modules>
        <Mainstreethost_DynamicOriginShipping>
            <version>0.1.0</version>
        </Mainstreethost_DynamicOriginShipping>
    </modules>
    <global>
        <models>
            <dos>
                <class>Mainstreethost_DynamicOriginShipping_Model</class>
                <resourceModel>dos_resource</resourceModel>
            </dos>
            <dos_resource>
                <class>Mainstreethost_DynamicOriginShipping_Model_Resource</class>
                <entities>
                    <origin>
                        <table>dos_origin</table>
                    </origin>
                    <states>
                        <table>dos_states</table>
                    </states>
                </entities>
            </dos_resource>
        </models>
        <events>
            <msh_dos_shipping>
                <observers>
                    <msh_dos_observer>
                        <type>model</type>
                        <class>Mainstreethost_DynamicOriginShipping_Model_Observer</class>
                        <method>ModifyOriginShippingAddress</method>
                    </msh_dos_observer>
                </observers>
            </msh_dos_shipping>
        </events>
        <blocks>
            <dos>
                <class>Mainstreethost_DynamicOriginShipping_Block</class>
            </dos>
            <checkout>
                <rewrite>
                    <cart_shipping>Mainstreethost_DynamicOriginShipping_Block_Checkout_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <dos>
                <class>Mainstreethost_DynamicOriginShipping_Helper</class>
            </dos>
        </helpers>
        <resources>
            <dos_setup>
                <setup>
                    <module>Mainstreethost_DynamicOriginShipping</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dos_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <dos_admin>
                <use>admin</use>
                <args>
                    <module>Mainstreethost_DynamicOriginShipping_Adminhtml</module>
                    <frontName>originadmin</frontName>
                </args>
            </dos_admin>
            <dos_ajax>
                <use>admin</use>
                <args>
                    <module>Mainstreethost_DynamicOriginShipping</module>
                    <frontName>originajax</frontName>
                </args>
            </dos_ajax>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dos>
                    <file>dos.xml</file>
                </dos>
            </updates>
        </layout>
    </adminhtml>
</config>